@use "normalize.scss";
@use "arrowDown.scss";

$yellow: #ffc900;
$navyBlue: #1a5f7a;
$darkNavyBlue: #124154;

$regular: 300;
$medium: 400;
$bold: 500;
$extraBold: 600;

$regularSize: 2.2rem;
$logoSize: 3.4rem;
$headerSize: 7.2rem;
$secondaryHeadersSize: 6.8rem;
$tertiaryHeadersSize: 3.4rem;
$listSize: 3.4rem;

body {
  background-image: url("../assets/background.png");
  background-size: 22rem;
  font-family: "Poppins", sans-serif;
}

.gearsImageContainer {
  width: 50vw;
  //height: 70vh;
  z-index: -1;
  position: absolute;
  top: calc(100vh / 2);
  left: 50%;
  //transform: translate(-50%, -50%);
  transform: translate(-5%, -45%);
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.gridNav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: ". logo . . navBar navBar navBar . ";
}

.navBarContainer {
  font-size: $regularSize;
  font-weight: $extraBold;
  height: 10rem;
  margin: 0 auto;

  .navBar {
    align-self: center;
    justify-self: stretch;
    grid-area: navBar;

    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      color: $navyBlue;
      &--navLink {
        flex-shrink: 0;
        cursor: pointer;
        display: inline-block;

        &--hover::after {
          content: "";
          display: block;
          width: 0;
          height: 0.3rem;
          background: $yellow;
          transition: width 0.3s;
        }

        &--hover:hover {
          transform: scale(1.05);
        }
        &--hover:hover::after {
          width: 100%;
        }
      }
      &--navLinkContact {
        //color: $yellow;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20rem;
        height: 4.5rem;
        //background-color: white;
        background-color: $navyBlue;
        border-radius: 2rem;
        box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
        &:hover {
          background-color: $yellow;
          color: $navyBlue;
        }
      }
    }
  }

  .logoContainer {
    grid-area: logo;
    align-self: center;
    justify-self: stretch;
    display: flex;
    font-size: $logoSize;
    color: $yellow;
    &__logo {
      flex-shrink: 0;
    }
  }
}

.gridHeader {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    ". titleHeader titleHeader titleHeader . . . ."
    ". titleHeader titleHeader titleHeader . . . ."
    ". titleHeader titleHeader titleHeader . . . ."
    ". subHeader subHeader subHeader . . . ."
    ". . arrow . . . . .";
}

.header__title {
  grid-area: titleHeader;
  line-height: 140%;
  font-size: $headerSize;
  color: $navyBlue;
  align-self: end;
  &--address {
    color: $yellow;
  }
}

.header__subTitle {
  grid-area: subHeader;
  align-self: start;
  font-size: $regularSize;
  color: $navyBlue;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aboutGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: ". . about__header . . . . .";
}
.aboutContentGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: ". img img img . p p p .";
  align-items: center;
}

.headerH2 {
  font-size: $secondaryHeadersSize;
  font-weight: $medium;
  color: $yellow;
  letter-spacing: 0.3rem;
  transition: 0.1s;

  span {
    color: $navyBlue;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.about {
  margin-top: 13rem;

  &__header {
    grid-area: about__header;
    white-space: nowrap;
    place-self: center;
  }
  &__contentContainer {
    margin-top: 3rem;
    &__img {
      position: relative;
      margin-left: 5rem;
      grid-area: img;
      height: 30rem;
      background: url(../assets/hurtownia.png);
      background-repeat: no-repeat;
      transition: 0.3s;

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 45%;
        height: 40%;
        z-index: -1;
        background: transparent;
        transition: 0.3s;
      }

      &::before {
        top: -4rem;
        left: -4rem;
        border-top: 0.4rem solid $yellow;
        border-left: 0.4rem solid $yellow;
      }
      &::after {
        bottom: -4rem;
        right: -4rem;
        border-bottom: 0.4rem solid $navyBlue;
        border-right: 0.4rem solid $navyBlue;
      }

      &:hover {
        transform: scale(1.05);
      }

      &:hover::after,
      &:hover::before {
        width: 35%;
        height: 32%;
      }
    }
    &__p {
      grid-area: p;
      margin-right: 5rem;
      font-size: $regularSize;
      font-weight: $regular;
      line-height: 5.5rem;
      color: $navyBlue;
      span {
        color: $yellow;
      }
    }
  }
}

.offer {
  margin-top: 15rem;

  &__header {
    text-align: center;
    margin-bottom: 8rem;
  }
  &__contentContainer {
    margin-left: 8rem;
    margin-right: 8rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    &--offerList {
      font-size: $listSize;
      color: $navyBlue;
      .offerElement {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 6rem;
        &__checkIcon {
          position: relative;
          img {
            position: absolute;
            transform: translate(0, -50%);
          }
        }
        span {
          margin-left: 10rem;
        }
      }
    }
    &--brands img {
      width: 100%;
      height: 100%;
    }
  }
}
