@use "normalize.scss";

body {
  background-image: url("../assets/background.png");
  background-size: 22rem;
}

.navBarContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: ". logo . navBar navBar navBar navBar . ";
  font-size: 2.2rem;

  height: 10rem;
  margin: 0 auto;

  .navBar {
    align-self: center;
    justify-self: stretch;
    grid-area: navBar;
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    .navBar--left {
      display: flex;

      flex-direction: row;
      justify-content: space-between;
      list-style: none;
    }

    .navBar--right {
      list-style: none;
    }
  }

  .logo {
    grid-area: logo;
    align-self: center;
    justify-self: stretch;
    font-size: 2.8rem;
  }
}
